# Dependências do Node (Pesado)
node_modules/

# Arquivos de Segurança e Senhas (NUNCA SUBIR)
.env
*.pem

# Backups e Dados
*.sql
bkp/


# Arquivos Compactados (Seus backups manuais)

*.zip
*.7z

# Logs e arquivos de sistema
*.log
.DS_Store